img {
    width: 100%;
    height: auto;
    margin-top: 20px;
}

p {
    margin-left: 15px;
    font-size: 18px;
}

#magazine {
  padding-left: 20px;
  font-size: 16px;
}

.front {
  font-size: 20px;
  padding: 20px 20px 0px 20px;
  margin-bottom: -10px;
}

#text-block {
  height: auto;
  width: auto;
  background-color: #EED6D3;
  margin: 20px 10px 0px 10px;
  padding-top: 0px;
  padding-bottom: 10px;
}

iframe {
  border: 0;
  margin-left: 15px;
  width: 90%;
  height: auto;
}

h1 {
    margin: 0;
    padding-left: 15px;
    color: white;
    background-color: #978f92;
    height: 60px;
    font-size: 40px;
    display: flex;
    align-items: center;
}

h2 {
    width: 95%;
    height: 30px;
    font-size: 18px;
    background-color: #EED6D3;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #A49393;
}

li {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

li:hover, .active {
  background-color:#EED6D3;
  color: grey;
}

table {
  width: 100%;
  margin-left: 5px;
  padding-right: 10px;
}

td {
  font-size: 18px;
}

.dish {
  width: 90%;
}

.price {
  display: flex;
  align-items: baseline;
  justify-content: end;
  padding-left: 20px;
}

@media only screen and (min-width: 768px) {
  #front-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  table {
    width: 60%; 
  }

  h2 {
    width: 60%;
  }

  .contact-heading {
    width: 30%;
  }

  iframe {
    width: 600;
    height: 450;
  }
}
